
/* Your CSS Code here. */

body{
	
	
}

.holder{
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-content: center;
	
}

.item.item-1{
	/* display: flex; */
	margin: auto;
	height: 100px;
	width: 100px;
	background-color: red;
	
}