
/* Your CSS Code here. */

.holder{
	justify-content: center;
	align-content: center;
	
	height: 100vh;
	width: 100vw;
}

.item.item-1{
	display: flex;
	margin: auto;
	height: 100px;
	width: 100px;
	background-color: red;
	
}