
/* Your CSS Code here. */

body{
	
	
}

.holder{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	
	
}

.item-1{
	display: flex;
	/* margin: auto; */
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	background-color: red;
	
}